In [2]:
emp=open("C:/Users/admin/Downloads/emp12.csv","r",encoding='cp1252')

In [3]:
emp

In [4]:
for x in emp:
    row=x.split(",")
    salary=int(row[5])
    print("\n Total Salary for " + row[1] + " is: " + str(salary))
    DA=salary*0.25
    print("DA is" + str(DA))
    TZ=salary*0.15
    print(" TZ is" + str(TZ))
    HRA=salary*0.16
    print("HRA is" + str(HRA))
    CCA=salary*0.02
    print("CCA is" + str(CCA))
    MA=salary*0.05
    print("MA is"+str(MA))
    LIC=salary*0.05
    print("LIC is" + str(LIC))
    NETSalary=DA+TZ+HRA+HRA+CCA+MA+LIC
    print("NET-Salary for " + row[1] + " is: " + str(NETSalary))
print('\n')

 Total Salary for Sheethal is: 25000
DA is6250.0
 TZ is3750.0
HRA is4000.0
CCA is500.0
MA is1250.0
LIC is1250.0
NET-Salary for Sheethal is: 21000.0

 Total Salary for Sonu is: 28000
DA is7000.0
 TZ is4200.0
HRA is4480.0
CCA is560.0
MA is1400.0
LIC is1400.0
NET-Salary for Sonu is: 23520.0

 Total Salary for Sandeep is: 100000
DA is25000.0
 TZ is15000.0
HRA is16000.0
CCA is2000.0
MA is5000.0
LIC is5000.0
NET-Salary for Sandeep is: 84000.0

 Total Salary for Manoj is: 65000
DA is16250.0
 TZ is9750.0
HRA is10400.0
CCA is1300.0
MA is3250.0
LIC is3250.0
NET-Salary for Manoj is: 54600.0

 Total Salary for Prasanna is: 15000
DA is3750.0
 TZ is2250.0
HRA is2400.0
CCA is300.0
MA is750.0
LIC is750.0
NET-Salary for Prasanna is: 12600.0

 Total Salary for Priyanka is: 20000
DA is5000.0
 TZ is3000.0
HRA is3200.0
CCA is400.0
MA is1000.0
LIC is1000.0
NET-Salary for Priyanka is: 16800.0

 Total Salary for Shravanthi is: 28000
DA is7000.0
 TZ is4200.0
HRA is4480.0
CCA is560.0
MA is1400.0
LIC is1400.0
NET-Salary for Shravanthi is: 23520.0

 Total Salary for Yamini is: 19000
DA is4750.0
 TZ is2850.0
HRA is3040.0
CCA is380.0
MA is950.0
LIC is950.0
NET-Salary for Yamini is: 15960.0

 Total Salary for Chaitanya is: 25000
DA is6250.0
 TZ is3750.0
HRA is4000.0
CCA is500.0
MA is1250.0
LIC is1250.0
NET-Salary for Chaitanya is: 21000.0

 Total Salary for Leela Krishna is: 26000
DA is6500.0
 TZ is3900.0
HRA is4160.0
CCA is520.0
MA is1300.0
LIC is1300.0
NET-Salary for Leela Krishna is: 21840.0

 Total Salary for Mahender is: 60000
DA is15000.0
 TZ is9000.0
HRA is9600.0
CCA is1200.0
MA is3000.0
LIC is3000.0
NET-Salary for Mahender is: 50400.0

 Total Salary for Yelishetty Shankar is: 100000
DA is25000.0
 TZ is15000.0
HRA is16000.0
CCA is2000.0
MA is5000.0
LIC is5000.0
NET-Salary for Yelishetty Shankar is: 84000.0

 Total Salary for Swapna is: 23000
DA is5750.0
 TZ is3450.0
HRA is3680.0
CCA is460.0
MA is1150.0
LIC is1150.0
NET-Salary for Swapna is: 19320.0

 Total Salary for Nikhil is: 25000
DA is6250.0
 TZ is3750.0
HRA is4000.0
CCA is500.0
MA is1250.0
LIC is1250.0
NET-Salary for Nikhil is: 21000.0

 Total Salary for Sai Kumar is: 30000
DA is7500.0
 TZ is4500.0
HRA is4800.0
CCA is600.0
MA is1500.0
LIC is1500.0
NET-Salary for Sai Kumar is: 25200.0